<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApplication</title>
  </head>
  <body>
    <form id="form" action="/todos/create" method="POST">
      <input type="text" name="description" id="description" />
      <input type="submit" id="submit" value="Create" />
    </form>
    <ul id="todos">
      {% for d in data %}
      <li>{{d.description}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
